.container {
    padding: 0 0 183px 0;
    .uploadToEarn {
        color: #000000;
        .title {
            text-align: center;
            font-family: 'IBM Plex Mono';
            font-weight: 700;
            font-size: 9.86111111111vw;
            line-height: 120%;
            text-transform: uppercase;
        }
        .subtitle {
            margin: 0 0 62px 0;
            font-family: 'IBM Plex Mono';
            font-size: 2.22222222222vw;
            line-height: 120%;
            text-transform: uppercase;
            text-align: center;
            span {
                font-weight: 700;
            }
        }
        .poster {
            width: 1055px;
            height: 558px;
            margin: 0 auto 51px auto;
            background-image: url('../../assets/images/upload-to-earn.png');
        }
        .information {
            .informationTitle {
                margin: 0 0 25px 0;
                font-family: 'IBM Plex Mono';
                font-weight: 700;
                font-size: 3.33333333333vw;
                line-height: 120%;
                text-align: center;
                text-transform: uppercase;
                color: #1d1d1f;
            }
            .informationText {
                width: 52.5vw;
                margin: 0 auto 43px auto;
                font-family: 'IBM Plex Mono';
                font-size: 1.45833333333vw;
                line-height: 150%;
                text-align: center;
                color: #737373;
            }
        }
    }
}
