.container {
  font-family: 'IBM Plex Mono';
  color: #000000;
  .uploadToEarn {
    padding: 0 0 183px 0;
    .title {
      text-align: center;
      font-weight: 700;
      font-size: 9.86111111111vw;
      line-height: 120%;
      text-transform: uppercase;
    }
    .subtitle {
      margin: 0 0 62px 0;
      font-size: 2.22222222222vw;
      line-height: 120%;
      text-transform: uppercase;
      text-align: center;
      span {
        font-weight: 700;
      }
    }
    img {
      width: 73.2638888889vw;
      display: block;
      margin: 0 auto 51px auto;
    }
    .information {
      .informationTitle {
        margin: 0 0 25px 0;
        font-weight: 700;
        font-size: 3.33333333333vw;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #1d1d1f;
      }
      .informationText {
        width: 52.5vw;
        margin: 0 auto 43px auto;
        font-size: 1.45833333333vw;
        line-height: 150%;
        text-align: center;
        color: #737373;
      }
    }
  }
  .ownYourData {
    display: flex;
    justify-content: space-between;
    gap: 7.56944444444vw;
    padding: 228px 80px 98px 0;
    background: #fafafa;
    .leftPart {
      position: relative;
      .popup {
        width: 23.6111111111vw;
        padding: 0 0 53px 0;
        position: absolute;
        top: -86px;
        left: 9.58333333333vw;
        background: #ffffff;
        border: 0.5px dashed #454545;
        img {
          width: 21.9444444444vw;
          display: block;
          margin: 12px auto 56px auto;
          border: 0.5px dashed #454545;
        }
        .informationBlock {
          h3 {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.25vw;
            line-height: 150%;
            text-align: center;
            color: #1a1a1a;
          }
          p {
            margin: 0 0 27px 0;
            font-size: 0.97222222222vw;
            line-height: 150%;
            text-align: center;
            color: #4b576c;
          }
        }
      }
      img {
        display: block;
        width: 48.6111111111vw;
      }
      .mobile {
        display: none;
      }
    }
    .rightPart {
      h2 {
        width: 30.6944444444vw;
        margin: 0 0 24px 0;
        padding: 0;
        font-weight: 600;
        font-size: 4.58333333333vw;
        line-height: 120%;
        text-transform: uppercase;
        color: #1d1d1f;
      }
      p {
        margin: 0 0 24px 0;
        padding: 0;
        font-size: 1.45833333333vw;
        line-height: 150%;
        color: #737373;
      }
      span {
        display: inline-block;
        margin: 0 0 24px 0;
        font-weight: 500;
        font-size: 1.45833333333vw;
        line-height: 150%;
        color: #202124;
      }
      .currencies {
        display: flex;
        align-items: center;
        gap: 4.16666666667vw;
        img {
          width: 2.70833333333vw;
          height: 39px;
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
  .shareTradeCreate {
    padding: 95px 0 132px 0;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    .leftPart {
      padding: 0 0 0 5.55555555556vw;
      h2 {
        padding: 0;
        margin: 0 0 48px 0;
        font-weight: 600;
        font-size: 2.77777777778vw;
        color: #1d1d1f;
      }
      p {
        width: 38.8888888889vw;
        padding: 0;
        margin: 0 0 32px 0;
        font-size: 1.45833333333vw;
        line-height: 150%;
        color: #737373;
      }
      .wallets {
        display: flex;
        gap: 2.22222222222vw;
        img {
          cursor: pointer;
          user-select: none;
          width: 1.45833333333vw;
          height: 40px;
        }
      }
    }
    .rightPart {
      position: relative;
      .popup {
        width: 32.4305555556vw;
        position: absolute;
        top: -55px;
        right: 8.61111111111vw;
      }
      img {
        display: block;
        width: 51.3888888889vw;
      }
      .mobile {
        display: none;
      }
    }
  }
  .coreFeatures {
    .top {
      position: relative;
      height: 70px;
      margin: 0 0 73px 0;
      background: #202124;
      font-family: 'IBM Plex Mono';
      font-weight: 700;
      font-size: 2.29166666667vw;
      line-height: 70px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      &:after {
        content: '';
        position: absolute;
        right: 17.0833333333vw;
        top: 50%;
        transform: translate(0, -50%);
        width: 2.77777777778vw;
        height: 40px;
        background-image: url('../../assets/images/get-reward-arror.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .content {
      display: flex;
      gap: 6.31944444444vw;
      margin: 0 0 22px 0;
      img {
        display: block;
        width: 51.9444444444vw;
        height: calc(100% - 100px);
      }
      .rightPart {
        h2 {
          width: 29.375vw;
          font-family: 'IBM Plex Mono';
          font-weight: 600;
          font-size: 6.11111111111vw;
          text-transform: uppercase;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            width: 29.3055555556vw;
            position: relative;
            font-size: 1.25vw;
            margin: 0 0 24px 0;
            &::before {
              content: '';
              position: absolute;
              top: 9px;
              left: -18px;
              width: 5px;
              height: 5px;
              background: #000000;
              border-radius: 50%;
            }
            span {
              display: block;
              margin: 0 0 8px 0;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .ribbon {
      width: 58.3333333333vw;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        gap: 1.11111111111vw;
        align-items: center;
        img {
          width: 2.77777777778vw;
          height: 40px;
        }
        span {
          font-family: 'IBM Plex Mono';
          font-weight: 500;
          font-size: 0.83333333333vw;
          line-height: 20px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }
  }
  .ghostdrivePricing {
    .top {
      margin: 80px 0 114px 0;
      padding: 54px 0 10px 0;
      background: #0f73ef;
      font-family: 'IBM Plex Mono';
      color: #ffffff;
      text-transform: uppercase;
      .title {
        font-weight: 700;
        font-size: 4.44444444444vw;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.1em;
      }
      .price {
        font-weight: 700;
        font-size: 6.38888888889vw;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1em;
        span {
          font-weight: 500;
        }
      }
      .paragraph {
        font-weight: 700;
        font-size: 3.05555555556vw;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }
    .content {
      .title {
        margin: 0 0 56px 0;
        font-weight: 700;
        font-size: 3.47222222222vw;
        text-align: center;
        text-transform: uppercase;
        color: #1d1d1f;
      }
      .tableHeader {
        height: 114px;
        margin: 0 13.1944444444vw;
        padding: 0 6.94444444444vw 0 2.22222222222vw;
        background: #f9f9f9;
        display: flex;
        align-items: center;
        .tabs {
          display: flex;
          margin: 0 8.54166666667vw 0 0;
          .tab {
            cursor: pointer;
            user-select: none;
            width: 9.86111111111vw;
            height: 50px;
            font-family: 'IBM Plex Mono';
            font-size: 0.83333333333vw;
            line-height: 50px;
            text-align: center;
            border: 0.5px solid #b9b9b9;
            color: #202124;
            &.active {
              background: #202124;
              color: #f4f4f4;
              border: 0.5px solid transparent;
            }
          }
        }
        .items {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: 500;
            font-size: 0.97222222222vw;
            color: #000000;
            span {
              font-weight: 700;
              font-size: 1.66666666667vw;
            }
          }
        }
      }
      .tableBody {
        margin: 0 13.1944444444vw;
        .row {
          height: 64px;
          display: flex;
          align-items: center;
          padding: 0 6.94444444444vw 0 2.22222222222vw;
          &.grey {
            background: #f9f9f9;
          }
          .rowTitle {
            width: 20vw;
            min-width: 20vw;
            margin: 0 8.54166666667vw 0 0;
            font-weight: 500;
            font-size: 1.11111111111vw;
            text-transform: uppercase;
            color: #000000;
            span {
              display: block;
              font-weight: 400;
              font-size: 0.55555555555vw;
              text-transform: uppercase;
            }
          }
          .items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: 0.97222222222vw;
            .item {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      .features {
        margin: 56px 0 24px 13.1944444444vw;
        padding: 0 0 0 1.94444444444vw;
        font-weight: 500;
        font-size: 2.22222222222vw;
        color: #000000;
      }
    }
  }
  .whaleBlock {
    display: flex;
    justify-content: space-between;
    padding: 52px 7.98611111111vw 64px 5.55555555556vw;
    margin: 164px 0 124px 0;
    background: #202124;
    color: #ffffff;
    .leftPart {
      .title {
        font-weight: 700;
        font-size: 5.625vw;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        span {
          display: block;
          margin: 0 0 29px 0;
          font-size: 4.35vw;
        }
      }
      .card {
        position: relative;
        width: 23.9583333333vw;
        height: 12.0244444444vh;
        margin: 0 0 16px 0;
        padding: 0 0 21px 0;
        .cardContainer {
          position: absolute;
          z-index: 1;
          width: 23.9583333333vw;
          height: 12.0244444444vh;
          padding: 0 0 21px 0;
          background: rgba(255, 255, 255, 0.2);
          opacity: 0.1;
          backdrop-filter: blur(2.50712px);
        }
        .cardContent {
          position: absolute;
          z-index: 2;
          .cardTitle {
            margin: 18px 0 8px 24px;
            font-weight: 700;
            font-size: 2.22222222222vw;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
          .cardRow {
            display: flex;
            gap: 1.11111111111vw;
            margin: 0 0 8px 1.66666666667vw;
            span {
              font-size: 0.97222222222vw;
              line-height: 18px;
              &.name {
                width: 4.16666666667vw;
              }
            }
          }
        }
        .arrow1 {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 6.69px;
          height: 6.69px;
          background-image: url('../../assets/images/card-arrow2.svg');
          background-size: contain;
          transform: rotate(180deg);
        }
        .arrow2 {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 6.69px;
          height: 6.69px;
          background-image: url('../../assets/images/card-arrow3.svg');
          background-size: contain;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 6.69px;
          height: 6.69px;
          background-image: url('../../assets/images/card-arrow1.svg');
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 6.69px;
          height: 6.69px;
          background-image: url('../../assets/images/card-arrow2.svg');
          background-size: contain;
        }
      }
      button {
        cursor: pointer;
        user-select: none;
        width: 23.9583333333vw;
        height: 48px;
        background: #ffffff;
        border: none;
        padding: 0;
        border-radius: 1px;
        font-weight: 500;
        font-size: 0.83333333333vw;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #202124;
      }
    }
    .image_wrapper {
      position: relative;
      width: 26.7361111111vw;
      height: 385px;
      // height: 42.7777777778vh;
      .img {
        border-radius: 24px;
        width: 26.7361111111vw;
        height: 385px;
        // height: 42.7777777778vh;
        position: absolute;
      }
      .img_border {
        width: 23.9111111111vw;
        height: 344.32px;
        // height: 38.2577777778vh;
        border: 1px solid white;
        border-radius: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .img_logo {
        width: 1.00694444444vw;
        min-height: 14.5px;
        background-image: url('../../assets/images/img-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 10%;
        right: 50%;
      }
      .img_name {
        font-family: 'IBM Plex Mono';
        font-size: 0.48611111111vw;
        line-height: 10px;
        font-weight: 700;
        position: absolute;
      }
      .img_name_1 {
        top: 10%;
        left: 2.84722222222vw;
      }
      .img_name_2 {
        top: 10%;
        right: 2.84722222222vw;
      }
      .img_name_3 {
        bottom: 10%;
        left: 2.84722222222vw;
      }
      .img_name_4 {
        bottom: 10%;
        right: 2.84722222222vw;
      }
    }
  }
  .questionsAndAnswers {
    h2 {
      font-weight: 700;
      font-size: 3.47222222222vw;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      color: #1d1d1f;
    }
  }
  .handling {
    display: flex;
    gap: 1.11111111111vw;
    margin: 150px 0 0 0;
    padding: 56px 5.55555555556vw 64px 5.55555555556vw;
    .leftPart {
      position: relative;
      background: #0f73ef;
      border-radius: 10px;
      width: 31.9444444444vw;
      padding: 117px 0 92px 2.98611111111vw;
      button {
        position: absolute;
        top: 32px;
        right: 1.73611111111vw;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        user-select: none;
        img {
          width: 5.55555555556vw;
        }
      }
      div {
        margin: 0 0 24px 0;
        font-weight: 700;
        font-size: 2.77777777778vw;
        text-transform: uppercase;
        color: #ffffff;
      }
      .word1 {
        opacity: 0.1;
      }
      .word2 {
        opacity: 0.6;
      }
      .word3 {
        opacity: 0.2;
      }
    }
    .rightPart {
      width: 55.8333333333vw;
      background: linear-gradient(180deg, #202430 0%, #151516 100%);
      border-radius: 10px;
      padding: 113px 1.66666666667vw 114px 1.66666666667vw;

      p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 600;
        font-size: 3.88888888889vw;
        letter-spacing: -1.2px;
        text-transform: uppercase;
        background: linear-gradient(0deg, #0f73ef 50%, #ffffff 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .container {
    .uploadToEarn {
      padding: 0 0 29px 0;
      .title {
        font-size: 14.79165625vw;
      }
      .subtitle {
        margin: 0 0 32px 0;
        font-size: 3.33334375vw;
      }
      img {
        width: 88.75vw;
        margin: 0 auto 37px auto;
      }
      .information {
        .informationTitle {
          margin: 0 0 9px 0;
          font-size: 5.625vw;
        }
        .informationText {
          width: auto;
          margin: 0 auto 22px auto;
          padding: 0 5.3125vw;
          font-size: 3.75vw;
        }
      }
    }
    .ownYourData {
      flex-direction: column;
      gap: 65px;
      padding: 63px 5vw 41px 5vw;
      .leftPart {
        .popup {
          width: 36.040625vw;
          padding: 0 0 18px 0;
          top: -13px;
          left: 50%;
          transform: translate(-50%, 0);
          img {
            width: 33.496875vw;
            margin: 4.07px auto 19px auto;
          }
          .informationBlock {
            h3 {
              font-size: 1.9080125vw;
              margin: 0;
            }
            p {
              margin: 0 0 9.4px 0;
              font-size: 1.484009375vw;
            }
          }
        }

        .mobile {
          display: block;
          width: 85vw;
          margin: 0;
        }
        .desktop {
          display: none;
        }
      }
      .rightPart {
        text-align: center;
        h2 {
          width: 100%;
          margin: 0 0 11px 0;
          font-size: 5.625vw;
        }
        p {
          margin: 0 0 15px 0;
          font-size: 3.75vw;
        }
        span {
          margin: 0 0 15px 0;
          font-size: 3.125vw;
        }
        .currencies {
          justify-content: center;
          gap: 12.5vw;
          img {
            width: 7.5vw;
            height: 24px;
          }
        }
      }
    }
    .shareTradeCreate {
      padding: 0 0 55px 0;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 32px;
      .leftPart {
        padding: 0;
        text-align: center;
        h2 {
          margin: 0 0 13px 0;
          font-size: 5.625vw;
        }
        p {
          padding: 0 4.6875vw;
          width: calc(100% - 9.375vw);
          margin: 0 0 32px 0;
          font-size: 3.75vw;
        }
        .wallets {
          justify-content: center;
          gap: 6vw;
          img {
            width: 7.5vw;
            height: 24px;
          }
        }
      }
      .rightPart {
        .popup {
          width: 44.6875vw;
          top: -17px;
          right: 34.0625vw;
        }
        .desktop {
          display: none;
        }
        .mobile {
          display: block;
          width: 90.3125vw;
          margin: 0 auto;
        }
      }
    }
    .coreFeatures {
      .top {
        margin: 0 0 73px 0;
        font-size: 3.1257vw;
        &:after {
          right: 3.125vw;
          transform: translate(0, -50%);
          width: 7.8125vw;
          height: 25px;
        }
      }
      .content {
        position: relative;
        flex-direction: column;
        gap: 0;
        margin: 0 0 15px 0;
        img {
          width: 100%;
          position: relative;
          left: -20px;
          height: auto;
        }
        .rightPart {
          h2 {
            width: 100%;
            text-align: center;
            font-size: 7.5vw;
            position: absolute;
            top: -32px;
            margin: 0;
          }
          ul {
            padding: 0 4.6875vw 0 9.375vw;
            li {
              width: 100%;
              font-size: 3.75vw;
              &::before {
                top: 5px;
                left: -9px;
              }
              span {
                font-size: 4.375vw;
              }
            }
          }
        }
      }
      .ribbon {
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5.9375vw;
        div {
          gap: 3.125vw;
          img {
            width: 7.878125vw;
            height: 25.21px;
          }
          span {
            font-size: 2.36346875vw;
          }
        }
      }
    }
    .ghostdrivePricing {
      .top {
        margin: 40px 0;
        padding: 12.04px 0 24px 0;
        .title {
          font-size: 4.45834375vw;
        }
        .price {
          font-size: 11.24334375vw;
        }
        .paragraph {
          display: none;
        }
      }
      .content {
        .title {
          margin: 0 0 24px 0;
          font-size: 7.5vw;
        }
        .tableHeader {
          height: 61px;
          margin: 0;
          padding: 0 3vw 0 3.75vw;
          .tabs {
            flex-direction: column;
            margin: 0 5vw 0 0;
            .tab {
              width: 21.18125vw;
              height: 24.19px;
              font-size: 1.77956875vw;
              line-height: 24.19px;
            }
          }
          .items {
            .item {
              font-size: 2.5vw;
              span {
                font-size: 3.75vw;
              }
            }
          }
        }
        .tableBody {
          margin: 00;
          .row {
            height: 46px;
            padding: 0 3vw 0 3.75vw;
            .rowTitle {
              margin: 0 8.54166666667vw 0 0;
              font-size: 3.125vw;
              span {
                font-size: 1.875vw;
                position: relative;
                width: 80px;
              }
            }
            .items {
              font-size: 3.125vw;
            }
          }
        }
        .features {
          margin: 32px 0 8px 2.5vw;
          padding: 0;
          font-size: 7.5vw;
        }
      }
    }
    .whaleBlock {
      position: relative;
      padding: 118px 5.9375vw 41px 3.75vw;
      margin: 33.6px 0 57px 0;
      .leftPart {
        .title {
          width: 100%;
          position: absolute;
          top: 23.87px;
          left: 50%;
          transform: translate(-50%, 0);
          text-align: center;
          font-size: 7.5vw;
          span {
            font-size: 7.5vw;
          }
        }
        .card {
          width: 45.3125vw;
          height: 66px;
          margin: 0 0 9px 0;
          padding: 0;
          .cardContainer {
            width: 45.3125vw;
            height: 66px;
          }
          .cardContent {
            .cardTitle {
              margin: 9px 0 4px 12.7px;
              font-size: 5.16665625vw;
            }
            .cardRow {
              gap: 1.48125vw;
              margin: 0 0 4.13px 3.96875vw;
              span {
                font-size: 2.5vw;
                line-height: 10px;
                &.name {
                  width: 10.625vw;
                }
              }
            }
          }
          .arrow1 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 6.69px;
            height: 6.69px;
            background-image: url('../../assets/images/card-arrow2.svg');
            background-size: contain;
            transform: rotate(180deg);
          }
          .arrow2 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 6.69px;
            height: 6.69px;
            background-image: url('../../assets/images/card-arrow3.svg');
            background-size: contain;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 6.69px;
            height: 6.69px;
            background-image: url('../../assets/images/card-arrow1.svg');
          }
          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 6.69px;
            height: 6.69px;
            background-image: url('../../assets/images/card-arrow2.svg');
            background-size: contain;
          }
        }
        button {
          width: 45.3125vw;
          height: 25px;
          background: #ffffff;
          font-size: 2.5vw;
        }
      }
      .image_wrapper {
        width: 31.29375vw;
        height: 100.14px;
        .img {
          width: 31.29375vw;
          height: 100.14px;
        }
        .img_border {
          width: 27.99375vw;
          height: 89.58px;
        }
        .img_logo {
          width: 1.178125vw;
          min-height: 3.77px;
        }
        .img_name_1 {
          top: 8%;
          left: 5.84722222222vw;
        }
        .img_name_2 {
          top: 8%;
          right: 5.84722222222vw;
        }
        .img_name_3 {
          bottom: 8%;
          left: 5.84722222222vw;
        }
        .img_name_4 {
          bottom: 8%;
          right: 5.84722222222vw;
        }
      }
    }
    .questionsAndAnswers {
      h2 {
        font-size: 7.5vw;
        margin: 0 0 24px 0;
      }
    }
    .handling {
      gap: 1.153125vw;
      margin: 0;
      padding: 0 3.75vw 84.37 3.75vw;
      .leftPart {
        width: 33.13125vw;
        padding: 26px 0 28px 3.096875vw;
        button {
          top: 7.38px;
          right: 1.8vw;
          img {
            width: 5.7625vw;
          }
        }
        div {
          margin: 0 0 5.52px 0;
          font-size: 2.875vw;
        }
      }
      .rightPart {
        width: 57.90625vw;
        padding: 25.04px 1.728125vw 26.2px 1.728125vw;
        p {
          font-size: 4.0331875vw;
        }
      }
    }
  }
}
