.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  mix-blend-mode: normal;
  backdrop-filter: blur(2px);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  .modal {
    position: relative;
    background: #202124;
    // border: 0.1px solid #ffffff;
    backdrop-filter: blur(12px);
    padding: 64px 64px 43px;
    span {
      position: absolute;
      top: 25px;
      right: 17px;
      width: 17.43px;
      height: 18.38px;
      background-image: url('../../assets/images/close.svg');
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      user-select: none;
    }
  }
}
