.header {
  width: calc(100% - 11.1111111111vw);
  height: 84px;
  padding: 0 5.55555555556vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 0 0 197px 0;
  .hamburger {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1.73611111111vw;
    list-style: none;
    & li {
      position: relative;
      font-family: 'IBM Plex Mono';
      font-weight: 500;
      font-size: 0.83333333333vw;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;
      cursor: pointer;
      user-select: none;
      transition: all 0.6s ease-in-out;

      img {
        width: 1.73611111111vw;
        margin: 0 4.51388888889vw 0 0;
      }

      &.active {
        text-decoration: underline;
      }

      &.dot {
        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 1px);
          right: -0.90277777777vw;
          width: 2px;
          height: 2px;
          background: #202124;
          border-radius: 50%;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &.mobile {
      display: none;
    }
  }
  .buttons {
    display: flex;
    gap: 8px;
    button {
      width: 10.6944444444vw;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
      user-select: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #0000000b;
      }
    }
    .signIn {
      font-family: 'IBM Plex Mono';
      font-weight: 500;
      font-size: 0.83333333333vw;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #202124;
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    width: calc(100% - 11.875vw);
    height: 42px;
    padding: 0 5.9375vw;
    margin: 0 0 53px 0;
    .hamburger {
      display: block;
      position: relative;
      z-index: 4;
      width: 17px;
      height: 2px;
      background: #1c1b1f;
      cursor: pointer;
      user-select: none;
      &::after {
        content: '';
        position: absolute;
        width: 17px;
        height: 2px;
        background: #1c1b1f;
        top: -4px;
      }
      &::before {
        content: '';
        position: absolute;
        width: 17px;
        height: 2px;
        background: #1c1b1f;
        bottom: -4px;
      }
      &.opened {
        background: none;
        &::after {
          transform: rotate(45deg);
          top: 3px;
        }
        &::before {
          transform: rotate(-45deg);
          top: 3px;
          bottom: -4px;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 0.69444444444vw;
      list-style: none;
      & li {
        font-family: 'IBM Plex Mono';
        font-weight: 500;
        font-size: 0.83333333333vw;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
        user-select: none;
        img {
          width: 7.5vw;
          margin: 0;
        }
      }
      &.mobile {
        display: block;
        position: absolute;
        z-index: 3;
        margin: 0;
        background-color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 100px 6.25vw 0 6.25vw;
        li {
          font-weight: 700;
          font-size: 32px;
          line-height: 150%;
          img {
            margin: 80px 0 0 0;
          }
        }
      }
      &.desktop {
        display: none;
      }
    }
    .buttons {
      position: relative;
      z-index: 4;
      .signIn {
        display: none;
      }
    }
  }
}
